<!-- ko with: home -->
<div class="jumbotron" style="background-image: url('../../Images/jumbotron_background.png'); ">
    @*<div class="img"></div>*@
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>York District Day Camp</h1>
                <p>
                    <a class="btn btn-default" href="../Registration/AttendeeSelection">Click Here to Register!</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Register for York District Day Camp!</h3>
        <p><h4>2017 Day Camp Fee: $110.00</h4>
            <h4><strong>Registration closes May 8th, 2017</strong></h4>
            <hr />
            Cub Scout Day Camp offers your scout a fun, exciting, and productive week of scouting. Scouts will receive a patch with lanyard and one t-shirt. Additional shirts are $10 each.
            <br/>
            <br/>
            <strong>* If your child has not completed the first grade, it is mandatory that they have an adult partner with them at camp at all times.</strong>
            <br/><hr />
            All Volunteers will receive 1 staff shirt at no cost. Additional shirts are $10 each.
            5-Day Volunteers will receive a $25 refund on their scout’s registration at the end of Cub Scout Day Camp.
        </p>
    </div>

    <div class="col-md-4">
        <h3>Day Camp Information</h3>
        <p>
            Date: June 12 - 16, 2017<br/>
            Camp Hours: 8:ooam - 4:oo pm<br/>
            Location: Bethelwoods Camp and Conference Center<br/>
            922 W Mt Gallant Road<br/>
            York, SC 29745<br/>
            <br/>
            Contact: <strong>yorkdaycamp@gmail.com</strong> or call 
            Day Camp <strong>Director Danny Culver</strong> at (803) 371-4425
        </p>
        <hr/>
        <h3>Swim Test and Check in Information:</h3>
        <p>
            Date: June 11, 2017<br/>
            Hours: (TBD)<br/>
            Location: Bethelwoods Camp and Conference Center<br/>
            922 W Mt Gallant Road<br/>
            York, SC 29745
        </p>
    </div>

    <div class="col-md-4">
        <h3>News</h3>
        <p>Staff members are volunteer parents like you who volunteer their time to make Day camp a memorable experience for their scout. Please join us in making Day Camp a great experience for your scout by volunteering some of your time to the program.<Br />

            Cub Scout Day Camp Policy states that for every 5 scouts your unit (Pack) must provide 5 days’ worth of volunteers.<br/>

            5 Day volunteers can be as follows: One 5-day volunteer, 5 one day volunteers (one for each day of the week), or some sort of variation of coverage for the 5 days of camp.<br/>
            <br/>
            All Scouts and volunteers must have an updated <a href="http://www.scouting.org/filestore/healthsafety/pdf/680-001_ab.pdf" target="_blank">BSA Health form</a><br/>
            <hr />
            Mandatory Volunteer Training will be held on May 20th, from 8:00 am-12:00 pm. Location (TBD)<br/>

            All Volunteers must be in attendance and complete the online training as listed below:<br/>
            
                Online Mandatory Training: (Take at <a href="https://my.scouting.org/" target="_blank">my.scouting.org</a>)<br/>
            <strong>Youth Protection</strong><br/>
            <strong>Weather Hazards</strong><br/>
            <strong>Safe Swim Defense</strong>

        </p>
    </div>
</div>

<!-- /ko -->
