<!-- ko with: home -->
<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>York Distrct Day Camp</h1>
                <p>
                    <a class="btn btn-default" href="../Registration/AttendeeSelection">Click Here to Register!</a>         
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Register for York District Day Camp!</h2>
        <p>Cub Day Camp offers the Scout a fun, exciting, and productive week of scouting. Scouts will recieve a patch, one t-shirt, and all materials with their registration fees.</p>
        <p>
           
        </p>
    </div>

    <div class="col-md-4">
        <h2>Day Camp Information</h2>
        <p>
            Date: June 12 - 16, 2017
            Location: Bethelwoods
            Times: 8:ooam - 4:oo pm
            Contact: yorkdaycamp@gmail.com
        </p>
        
    </div>

    <div class="col-md-4">
        <h2>News</h2>
        <p>You must have volunteers from your unit in order to register for Day Camp!  Each 5 day volunteer (or combination of volunteers) will allow 5 cub scouts to register!</p>
        <p></p>
    </div>
</div>

<!-- /ko -->
