<!-- ko with: home -->
<div class="jumbotron">
    <h1>Register for York District Day Camp!</h1>
    <p class="lead">Cub Day Camp offers the Scout a fun, exciting, and productive week of scouting. Scouts will recieve a patch, one t-shirt, and all materials with their registration fees.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p>Register today for York District Day Camp!</p>
        
       
        <p></p>
    </div>

    <div class="col-md-4">
        <h2>Day Camp Information</h2>
        <p>
            Date:
            Location:
            Times:
            Contact: yorkdaycamp@gmail.com
        </p>
        <p><a class="btn btn-default" href="../Registration">Click Here to Register!</a></p>
    </div>

    <div class="col-md-4">
        <h2>News</h2>
        <p>You must have volunteers from your unit in order to register for Day Camp!  Each 5 day volunteer (or combination of volunteers) will allow 5 cub scouts to register!</p>
        <p></p>
    </div>
</div>

<!-- /ko -->
