
@{
    ViewBag.Title = "ConfirmationFailed";
}

<h2>Confirmation Failed</h2>
<h1 class="text-danger">Confirmation Code Invalid or Expired</h1>
<h2 class="text-danger">Your confirmation code is either invalid or expired.</h2>

