@using EventManagement.Models
@model LoginViewModel
@{
    ViewBag.Title = "Index";
}
<div class="col-md-5">
    @Html.Partial("_Login")
</div>
<div class="col-md-7">
    @Html.Partial("_Register")
</div>
<hr/>

